@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
    font-family: 'Nunito', sans-serif;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    border: 1px solid #000;
} 

.nav-link{
    color: #000000;
}
.nav-link:hover{
    color: rgb(255, 240, 240);
}
.navbar-nav{
    text-align: center;
}

.rosa {
    background-color: #f19998;
}

.footer{
    
}

.logo{
    width:60px;
}

.sin{
    padding: 0px;
}

@media screen and (min-width:576px){ 

    
}

@media screen and (min-width:768px){ 

    
}

@media screen and (min-width:992px){ 

    
}

@media screen and (min-width:1200px){ 

    
}

@media screen and (min-width:1400px){ 

    
}